<div class="container">
    @if(order){
        <div class="content">
        <h1>Order #{{order.Id}}</h1>
        <div class="details">
            <div><strong>Date</strong> {{order.createdAt | date:'medium'}}</div>
            <div><strong>Name</strong> {{order.name}}</div>
            <div><strong>Address</strong> {{order.address}}</div>
            <div><strong>Status</strong> {{order.status}}</div>
            @if(order.paymentId){
                <div><strong>Payment ID</strong> {{order.paymentId}}</div>
            }
        </div>
          <order-items-list [order]="order"></order-items-list>    
    </div>
    
    }

    <div>
        <app-title title="Shipping Address">
            <app-map [order]="order" [readonly]="true"></app-map>
        </app-title>
    </div>

  
    

</div>