<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           
            <text-input [control]="formControls['email']"
             [label]="'Email'" [text]="'email'"
              [showErrorsIfTouchedOnly]="isSubmitted"></text-input>
            
            <text-input [control]="formControls['password']"
             [label]="'Password'" [text]="'password'"
              [showErrorsIfTouchedOnly]="isSubmitted"></text-input>

            <default-button
              [text]="'Login'"></default-button>
        </form>
    </div>
